{% extends 'base.html.twig' %}

{% block title %}Edit Producto{% endblock %}

{% block content %}
    <h1>Edit Producto</h1>

    {{ include('producto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('producto_index') }}">back to list</a>

    {{ include('producto/_delete_form.html.twig') }}
{% endblock %}
