{% extends 'backend/layout.html.twig' %}

{% block title %}Producto index{% endblock %}

{% block content %}
    <h1>Producto index</h1>
    
    <table id="lista-producto" class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {# {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.activo ? 'Yes' : 'No' }}</td>
                <td>{{ producto.categoria.nombre }}</td>
                <td>
                    <a href="{{ path('admin_producto_show', {'id': producto.id}) }}">show</a>
                    <a href="{{ path('admin_producto_edit', {'id': producto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %} #}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('admin_producto_pdf') }}">Reporte</a>
    {% if is_granted("ROLE_PRODUCTO_ADMIN") %}
        <a class="btn btn-primary" href="{{ path('admin_producto_new') }}">Create new</a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function (){
            //Aquí agragamos el código
            dataTable = $('#lista-producto').DataTable({
                "orderCellsTop": true,
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('admin_producto_rows_data_table') }}",
            });
        })
    </script>
{% endblock %}
