{% extends 'backend/layout.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block content %}
    <h1>Create new Producto</h1>

    {{ include('backend/producto/_form.html.twig') }}

    <a href="{{ path('admin_producto_index') }}">back to list</a>
{% endblock %}
