{% extends 'base.html.twig' %}

{% block content %}
    <h1>Editar Categoría</h1>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type=\"submit\" >Enviar</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
