{% extends 'backend/layout.html.twig' %}

{% block title %}Hello CategoriaController!{% endblock %}

{% block content %}
<h1>LISTA DE CATEGORÍAS MODIFICADA SEEGUNDO INTENTO</h1>
<ul>
    <li>
        <a href="{{ path('categoria_nuevo') }}">Nuevo</a>
    </li>
</ul>
<table id="lista-categorias" clas="table table-bordered w-100">
<thead>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Acción</th>
    </tr>
</thead>
<tbody>
    {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre }}</td>
            <td>
            <a href="{{ path('categoria_editar', {'id': categoria.id}) }}">Editar</a>
            <a href="{{ path('categoria_eliminar', {'id': categoria.id}) }}">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#lista-categorias").DataTable({})
        });
    
    </script>
{% endblock %}
