{% extends 'base.html.twig' %}

{% block content %}
    <h1>Nueva Categoría</h1>
    <ul>
        <li>
            <a href="{{ path('categoria_index') }}">Lista de Caregoríás</a>
        </li>
    </ul>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type=\"submit\" >Enviar</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
