{% extends "base.html.twig" %}
{% block body %}
<div class="container">
        <div class="" id="header">
            <h1>Sistema de Pruebas</h1>
            <div>Usuario: {{ app.user.email }}</div>
        </div>
        <div id ="content">
            <div>
                {# read and display all flash messages #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-info flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <ul>
                        <li>
                            <a href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ path('categoria_index') }}">Categoría</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_producto_index') }}">Producto</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    {% block content %}
                    {# Se va sobreescribir #}
                    {% endblock %}
            </div>
            
            
        </div>
        <div id ="footer">
            <h3>Todos los derechos reservados</h3>
        </div>
        </div>
{% endblock body %}