{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container mt-2">
    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="email" required id="username" name="_username" value="{{ last_username }}"/>

        <br/><label for="password">Password:</label>
        <input type="password" required id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


        <button type="submit">login</button>
    </form>
    </div>
    
{% endblock %}